/*------------------------------------------------------------------
[horizontal menu Stylesheet]

Project:	Maximum Admin - Responsive Admin Template
Version:	1.1.0
Last change:	11/09/2017
Primary use:	Maximum Admin - Responsive Admin Template
-------------------------------------------------------------------*/

.scale-up {
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    display: inline-block;
    -webkit-transform-origin: right 0px;
    -ms-transform-origin: right 0px;
    transform-origin: right 0px;
}

.scale-up-left {
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    display: inline-block;
    -webkit-transform-origin: left 0px;
    -ms-transform-origin: left 0px;
    transform-origin: left 0px;
}

.show > .scale-up {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: right 0px;
    -ms-transform-origin: right 0px;
    transform-origin: right 0px;
}

.show > .scale-up-left {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: left 0px;
    -ms-transform-origin: left 0px;
    transform-origin: left 0px;
}

.layout-top-nav header .navbar {
    position: initial;
}

.layout-top-nav .mega-dropdown > a.nav-link.dropdown-toggle {
    color: #fff !important;
}

.layout-top-nav .top-navbar>.navbar-nav {
    line-height: 34px;
    width: 50px;
    text-align: center;
}

.topbar {
    position: relative;
    z-index: 50;
    -webkit-box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.5);
    box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.5);
}

.topbar .top-navbar {
    min-height: 70px;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0px 15px 0 0;
}

.topbar .top-navbar .dropdown-toggle::after {
    display: none;
}

.topbar .top-navbar .navbar-header {
    line-height: 65px;
    text-align: center;
}

.topbar .top-navbar .navbar-header .navbar-brand {
    margin-right: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.topbar .top-navbar .navbar-header .navbar-brand .light-logo {
    display: none;
}

.topbar .top-navbar .navbar-header .navbar-brand b {
    line-height: 70px;
    display: inline-block;
}

.topbar .top-navbar .navbar-nav > .nav-item > .nav-link {
    padding-left: .75rem;
    padding-right: .75rem;
    font-size: 19px;
    line-height: 50px;
}

.topbar .top-navbar .navbar-nav > .nav-item.show {
    background: rgba(0, 0, 0, 0.05);
}

.topbar .profile-pic {
    width: 30px;
    border-radius: 100%;
}

.topbar .dropdown-menu {
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 0 3px 12px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 3px 12px rgba(0, 0, 0, 0.05);
    border-color: rgba(120, 130, 140, 0.13);
}

.topbar .dropdown-menu .dropdown-item {
    padding: 7px 1.5rem;
}

.topbar ul.dropdown-user {
    padding: 0px;
    width: 270px;
}

.topbar ul.dropdown-user li {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.topbar ul.dropdown-user li.divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: rgba(120, 130, 140, 0.13);
}

.topbar ul.dropdown-user li .dw-user-box {
    padding: 10px 15px;
}

.topbar ul.dropdown-user li .dw-user-box .u-img {
    width: 80px;
    display: inline-block;
    vertical-align: top;
}

.topbar ul.dropdown-user li .dw-user-box .u-img img {
    width: 100%;
    border-radius: 5px;
}

.topbar ul.dropdown-user li .dw-user-box .u-text {
    display: inline-block;
    padding-left: 10px;
}

.topbar ul.dropdown-user li .dw-user-box .u-text h4 {
    margin: 0px;
}

.topbar ul.dropdown-user li .dw-user-box .u-text p {
    margin-bottom: 2px;
    font-size: 14px;
}

.topbar ul.dropdown-user li .dw-user-box .u-text .btn {
    color: #ffffff;
    padding: 5px 10px;
    display: inline-block;
}

.topbar ul.dropdown-user li .dw-user-box .u-text .btn:hover {
    background: #e6294b;
}

.topbar ul.dropdown-user li a {
    padding: 9px 15px;
    display: block;
    color: #99abb4;
}

.topbar ul.dropdown-user li a:hover {
    background: #f2f4f8;
    color: #009efb;
    text-decoration: none;
}

.mega-dropdown {
    position: static;
    width: 100%;
}

.mega-dropdown .dropdown-menu {
    width: 100%;
    padding: 15px 30px 20px;
    margin-top: 0px;
}

.mega-dropdown ul {
    padding: 0px;
}

.mega-dropdown ul li {
    list-style: none;
}

.mega-dropdown .carousel-item .container {
    padding: 0px;
}

.mega-dropdown .nav-accordion .card {
    margin-bottom: 1px;
}

.mega-dropdown .nav-accordion .card-header {
    background: #ffffff;
}

.mega-dropdown .nav-accordion .card-header h5 {
    margin: 0px;
}

.mega-dropdown .nav-accordion .card-header h5 a {
    text-decoration: none;
    color: #99abb4;
}

@media (max-width: 767px) {
    .topbar {
        position: fixed;
        width: 100%;
    }
    .topbar .top-navbar {
        padding-right: 15px;
        padding-left: 10px;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-align-items: center;
    }
    .topbar .top-navbar .navbar-collapse {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        width: 100%;
    }
    .topbar .top-navbar .navbar-nav {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
    }
    .topbar .top-navbar .navbar-nav > .nav-item.show {
        position: static;
    }
    .topbar .top-navbar .navbar-nav > .nav-item.show .dropdown-menu {
        width: 100%;
        margin-top: 0px;
    }
    .topbar .top-navbar .navbar-nav > .nav-item > .nav-link {
        padding-left: .50rem;
        padding-right: .50rem;
    }
    .mega-dropdown .dropdown-menu {
        height: 480px;
        overflow: auto;
    }
    .topbar .top-navbar .navbar-nav .dropdown-menu {
        position: absolute;
    }
    .main-header .navbar .dropdown-menu li a {
        color: #333;
    }
    .layout-top-nav .mega-dropdown > a.nav-link.dropdown-toggle {
        display: block;
        color: #fff !important;
        width: 100%;
    }
    .layout-top-nav .top-navbar .navbar-nav .dropdown-menu {
        position: absolute;
    }
    .layout-top-nav .top-navbar>.navbar-nav {
        display: inline-block;
		margin: 0;
    }
    .layout-top-nav .top-navbar {
        display: block;
    }
    .layout-top-nav .main-header .logo {
        width: auto;
        float: left;
    }
    .layout-top-nav .main-header .logo .logo-mini {
        display: block;
    }
    .layout-top-nav .main-header .logo .logo-lg {
        display: none;
    }
    .layout-top-nav .main-header .navbar .dropdown-menu .mega-dropdown-menu li a {
        color: #333;
    }
}

@media (max-width: 360px) {
    .layout-top-nav .navbar-custom-menu .navbar-nav li > a.dropdown-toggle {
        padding: 0px 10px;
    }
}

.layout-top-nav .main-header {
    position: fixed;
    width: 100%;
}

.layout-top-nav .sidebar {
    padding-bottom: 0px;
}

.horizontal-menu .main-sidebar {
    position: fixed;
    padding-top: 50px;
    width: 100%;
    z-index: 810;
    min-height: auto;
	visibility: visible;
}

.horizontal-menu .sidebar-menu>li {
    display: inline-block;
}

.horizontal-menu .sidebar-menu > .treeview > .treeview-menu {
    position: absolute;
    padding: 15px;
    width: 260px;
    background: #ffffff;
    -webkit-box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.09);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.09);
}

.horizontal-menu .sidebar-menu {
    white-space: nowrap;
    overflow: visible;
}

.horizontal-menu .sidebar-menu>li>a>.pull-right-container {
    display: none;
}

@media (max-width: 990px) {
    .layout-top-nav .main-sidebar {
        padding-top: 50px;
        -webkit-transform: translate(-230px, 0);
        -ms-transform: translate(-230px, 0);
        -o-transform: translate(-230px, 0);
        transform: translate(-230px, 0);
    }
    .layout-top-nav.sidebar-collapse .main-sidebar,
    .layout-top-nav.sidebar-open .main-sidebar {
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        transform: translate(0, 0);
    }
	.main-sidebar {
        visibility: visible;
    }
    .layout-top-nav .sidebar-menu li>a>.pull-right-container {
        position: relative;
        right: 0;
        top: 2px;
        left: 4px;
        margin-top: -7px;
        display: inline-block;
    }
}

@media (max-width: 1200px) {
    .horizontal-menu .sidebar-menu>li>a>.fa,
    .horizontal-menu .sidebar-menu>li>a>.glyphicon,
    .horizontal-menu .sidebar-menu>li>a>.ion {
        display: none
    }
    .horizontal-menu .sidebar-menu>li>a {
        padding: 10px;
    }
}

@media (max-width: 360px) {
    .layout-top-nav .main-header .logo {
        padding: 0 5px;
    }
    .layout-top-nav .top-navbar>.navbar-nav {
        width: 40px;
    }
}

.main-header .sidebar-toggle {
    line-height: 24px;
}

.layout-top-nav .content-wrapper {
    margin-top: 50px;
}

@media (max-width: 990px) {
    .layout-top-nav .content-wrapper {
        margin-top: 50px;
    }
}

.horizontal-menu .sidebar-menu .treeview > .treeview-menu {
    display: none;
}

.horizontal-menu .sidebar-menu .active:hover > .treeview-menu,
.horizontal-menu .sidebar-menu .treeview:hover > .treeview-menu {
    display: block;
}

.layout-top-nav .sidebar-menu>li>a {
    padding: 12px 15px 12px 15px;
}

.horizontal-menu .layout-top-nav .sidebar-menu > li.menu-open > a {
    background: #fff;
    color: #333;
    box-shadow: none;
}
.horizontal-menu .layout-boxed .main-sidebar {
    position: relative;
	padding-top: 0px;
}	
.layout-top-nav.layout-boxed  .main-header {
    position: relative;
}	
.layout-top-nav.layout-boxed .content-wrapper {
    margin-top: 0px;
}